* {
    margin: 0;
    padding: 0;
}
.layer {
    width: 1170px;
    margin: 0 auto;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.container {
    background: rgba(0, 0, 0, 0.65);
}

body {
    min-width: 1170px;
}

header {
    background: url(../image/backgroundOne.png) no-repeat;
    background-size: 100% 100%;
    color: #ffffff;
}

header .content {
    width: 970px;
    padding: 225px 0;
    margin: 0 auto;
    text-align: center;
}

header h1 {
    font-size: 62px;
    font-weight: lighter;
    color: #ffffff;
}

header p {
    font-size: 20px;
    color: #d3d1cf;
    margin-top: 20px;
    font-weight: lighter;
}

header .login {
    border: 1px solid #51504d;
    margin-top: 100px;
    padding-top: 55px;
}

header span {
    font-size: 12px;
    color: #615f5d;
    display: block;
    margin-top: 20px;
}

header form {
    margin: 47px 0;
}

header input {
    font-size: 14px;
    text-indent: 20px;
    width: 290px;
    height: 50px;
    border: 1px solid #51504d;
    outline: none;
    background-color: transparent;
    border-radius: 5px;
    margin-right: 30px;
}

header button {
    width: 125px;
    height: 50px;
    background-color: #fff;
    border: none;
    border-radius: 5px;
    outline: none;
}

#feature-1 {
    text-align: center;
    height: 700px;
}

#feature-1 h2{
    font-size: 14px;
    font-weight: 500;
    display: inline-block;
    margin-top: 77px;
    margin-bottom: 42px;
}

#feature-1 p{
    font-size: 42px;
    font-weight: lighter;
}

#feature-1 .feature-1-box {
    width: 1030px;
    margin: 0 auto;
    font-size: 0px;
    overflow: hidden;
    margin-top: 88px;
}

#feature-1 .ChildBox-1 {
    display: inline-block;
    text-align: left;
    height: 167px;
    width: 430px;
}

#feature-1 .ChildBox-1 img {
    float: left;
    padding-bottom: 50px;
    padding-right: 30px;
}

#feature-1 .ChildBox-1 span {
    display: inline-block;
    font-size: 20px;
    margin-bottom: 15px;
}

#feature-1 .ChildBox-1 p {
    font-size: 14px;
    color: #797979;
    font-weight: lighter;
}

#action {
    position: relative;
    background: url(../image/backgrouTwo.png) no-repeat;
    background-size: 100% 100%;
}

#action .introduce {
    padding-left: 100px;
    padding-top: 185px;
    color: #fff;
}

#action .introduce h3{
    font-size: 42px;
    font-weight: lighter;
}

#action .introduce p{
    font-size: 18px;
    line-height: 30px;
    font-weight: lighter;
    margin-bottom: 60px;
    margin-top: 50px;
}

#action .introduce button {
    width: 240px;
    height: 60px;
    border: 1px solid #51504d;
    outline: none;
    border-radius: 5px;
    background: #fff;
}

#action .introduce button:nth-child(4) {
    background-color: transparent;
    color: #fff;
    margin-left: 30px;
    margin-bottom: 185px;
}

#action .a-box{
    position: absolute;
    right: 0;
    top: 130px;
}

#action .a-box img:nth-child(1){
    position: absolute;
    top: 30px;
    left: 60px;
}

#feature-2{
    text-align: center;
    border-bottom: 2px solid #e7e7e7;
}
#feature-2 h4{
    font-size: 42px;
    font-weight: lighter;
    margin: 100px 0;
    display: inline-block;
}
#feature-2 .feature-2-box{
    list-style: none;
}
#feature-2 .feature-2-box li{
    width: 270px;
    display: inline-block;
    color: #646464;
    margin:auto 40px;
    margin-bottom: 110px;
    line-height: 25px;
}
#feature-2 .feature-2-box img{
    margin-bottom: 40px;
}

#feature-3{
    border-bottom: 2px solid #e7e7e7;
}
#feature-3 .feature-3-boxOne{
    margin: 0 auto;
    width: 1000px;
    height: 350px;
    overflow: hidden;
    margin-top: 115px;
    margin-bottom: 80px;
}
#feature-3 .feature-3-boxTwo{
    margin: 0 auto;
    width: 1000px;
    height: 350px;
    overflow: hidden;
    margin-bottom: 105px;
}
#feature-3 .text-fr,.text-fl{
    width: 330px;
    display: inline-block;
    padding-top: 70px;

}
#feature-3 .text-fr span,.text-fl span{
    display: inline-block;
    font-size: 20px;
    margin-bottom: 30px;
}
#feature-3 .feature-3-boxOne img{
    margin-right: 100px;
}
#feature-3 .text-fr p,.text-fl p{
    line-height:25px;
    color: #646464;
}

#team{
    border-bottom: 2px solid #e7e7e7;
}
#team .teamBox{
    width: 1170px;
    text-align: center;
    margin: 0 auto;
    padding: 100px 0;
}
#team .teamBox h5{
    font-size: 42px;
    font-weight: lighter;
}
#team .teamBox p{
    font-size: 18px;
    color: #646464;
}
#team .userBox{
    font-size: 0px;
    margin-top: 65px;
}
#team .userBox img{
    margin: 15px;
}


#contact{
    width: 1170px;
    padding: 70px 0;
    margin: 0 auto;
}
#contact form{
    display: inline-block;
    height: 560px;
    width: 470px;
    text-align: center;
    border: 1px solid #e7e7e7;
    border-radius: 10px;
    margin-left: 100px;
}
#contact form p{
    line-height: 110px;
}
#contact #Email,#Text{
    width: 370px;
    height: 50px;
    border: 1px solid #e7e7e7;
    border-radius: 5px;
    outline: none;
    text-indent: 20px;
}
#contact #Text{
    margin: 30px 0;
}
#contact #Textarea{
    width: 370px;
    border: 1px solid #e7e7e7;
    border-radius: 5px;
    resize: none;
    outline: none;
    text-indent: 20px;
    padding-top: 20px;
}
#contact #Submit{
    width: 370px;
    height: 50px;
    color: #ffffff;
    background: #000000;
    border-radius: 5px;
    border: none;
    margin-top: 30px;
}
#contact .contacts{
    width: 370px;
    display: inline-block;
    margin-left: 130px;
    margin-top: 80px;
    vertical-align:top;
}
#contact .contacts h6{
    font-size: 42px;
    font-weight: lighter;
}
#contact .contacts p{
    display: inline-block;
    margin-top: 45px;
    margin-bottom: 75px;
    color: #646464;
}
#contact .contacts li{
    list-style: none;
    margin-bottom: 30px;
    line-height: 25px;
}
#contact .contacts img{
    margin-right: 20px;
}

footer{
    background: #000000;
    color: #ffffff;
}
footer .menus{
    padding-top:90px;
    padding-bottom: 125px;
}
footer .menus li{
    list-style: none;
    width: 270px;
    display: inline-block;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 3px;
    vertical-align: top;
}
footer .menu li{
    font-size: 14px;
    font-weight: normal;
    color: #646464;
    margin-top: 35px;
    letter-spacing: normal;
}
footer .menu-1 li{
    line-height: 30px;
}
footer .menu-1 i{
    margin-right: 20px;
}